# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.env.*
*.sqlite3

# Node
node_modules/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.pid

# Coverage
htmlcov/
.coverage*

# Build
build/
dist/
*.egg-info/
